@{
    var fileList = ViewBag.ConvertedFiles as List<string>;
}

@if (fileList != null && fileList.Count > 0)
{
    <h2>Download Converted Images</h2>
    <ul>
        @for (int i = 0; i < fileList.Count; i++)
        {
            var file = fileList[i];
            var fileName = $"image_{i + 1}.webp";
            <li>
                <form asp-action="Download" asp-controller="ImageConversion" method="post">
                    <input type="hidden" name="fileBase64" value="@file" />
                    <input type="hidden" name="fileName" value="@fileName" />
                    <button type="submit">Download @fileName</button>
                </form>
            </li>
        }
    </ul>
}
else
{
    <p>No converted images available for download.</p>
}
